<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite" thread-count="2" parallel="methods" >
    <test name="My TestNG Test">
        <classes>
            <class name="pagesTast.HomeTest">
            </class>
        </classes>
    </test>
</suite>